custom_plan.rb
zeus.json
.rvmrc
.rbenv-version
.ruby-version
.bundle
db/*.sqlite3
log/*.log
log/*.db
tmp/
.idea
.idea/*.*
.DS_Store
_DS_Store
vendor/plugins/rails-dev-boost/*
vendor/bundle
public/assets
public/assets/*.*
spec/reports
*.csv
/tags
npm-debug.log
